.top-bar {
  display: flex;
  position: relative;
  align-items: center;
  top: 0;
  left: 0;
  height: 64px;
  width: 100%;
  background-color: rgb(3, 37, 65);
  z-index: 9999999;
  transition: top 0.2s linear;
  color: white;
}
.selam {
  display: flex;
}
.titles {
  font-size: large;
  width: 140px;
  text-decoration: none;
  font-family: "Aref Ruqaa Ink", serif;
  margin-left: 10px;
}
.titles:hover {
  color: rgb(230, 130, 48);
  transition: 0.9s;
}
.profile-title {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 70px;
  font-family: "Aref Ruqaa Ink", serif;
  margin-right: 50px;
  font-size: large;
}
.profile-title:hover {
  color: rgb(136, 136, 216);
  transition: 0.9s;
}
.pages {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-right: 3em;
}
.logout {
  font-size: large;
  display: flex;
  text-align: center;
  font-family: "Aref Ruqaa Ink", serif;
  text-decoration: none;
  margin-left: 10px;
}
.logout:hover {
  color: brown;
  transition: 0.9s;
}
.title {
  text-decoration: none;
}
.logo2 {
  background-image: url(../Images/logo.png);
  background-position: center;
  margin-bottom: 20px;
  background-size: 160px;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
}
.Logo {
  font-family: "Bungee Spice";
}
.User-Icon {
  padding-top: 10%;
}
