.Series-Introduction {
  background-color: #000814;
  width: 180px;
  padding-left: 10px;
  padding-top: 10px;
  height: 80px;
  margin-left: 25px;
  border: 1px solid black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}
.VoteAverage {
  display: flex;
  height: 30px;
  width: 30px;
  padding-left: 6px;
  align-items: center;
}
.Series-Name {
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
  border-radius: 8px;
}
.Series-Container {
  transition: 0.5s all;
}
.Series-Container:hover {
  transform: scale(1.2);
}
