.profile {
  display: flex;
}
.user-info {
  width: 100vw;
  height: 15vw;
  margin-top: 56px;
  display: flex;
  background-image: url(./Profile-Page-Image/istockphoto-1339787499-170667a.jpg);
}

.user-icon {
  display: flex;
  border: 4px solid black;
  border-radius: 50%;
  background-color: rgb(255, 193, 77);
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  margin-left: 1em;
  margin-top: 0.35em;
}
.personal-info {
  margin-top: 2em;
  margin-left: 40px;
  color: rgb(194, 194, 194);
}
