.background-profil {
  background-image: url("https://c1.wallpaperflare.com/preview/879/785/83/auditorium-stadium-bench-chairs.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.Profile-Info {
  width: 20vw;
  height: 80vh;
  background-color: #2e3d54;
  box-shadow: 5px 10px 5px 5px;
  border-top: 1px solid black;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
}
.Profile-Icon {
  margin-top: 50px;
  font-size: xxx-large;
}
