.Search-Input {
  width: 80vw;
  height: 20vw;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://wallpaper.dog/large/5445110.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 5px 2px #282a2d;
  background-repeat: no-repeat;
}
.Bg {
  display: flex;
  justify-content: center;
  text-align: center;
}
.Search {
  margin-top: 15%;
  width: 40%;
  height: 20%;
  text-align: center;
  position: relative;
}
