.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  width: 100%;
  z-index: 10;
  transition: top 0.2s linear;
  background-color: rgb(3, 37, 65);
}
