.Movie-Banner {
  width: 180px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 250px;
  margin-left: 25px;
  margin-top: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}
.Movie-Container {
  transition: 0.5s all;
}
.Movie-Container:hover {
  transform: scale(1.2);
}

.Movie-Introduction {
  background-color: #000814;
  /* background-color: rgb(207, 149, 40); */
  width: 180px;
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
  height: 80px;
  margin-left: 25px;
  border: 1px solid black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}
.Movie-Adı {
  font-size: large;
  text-decoration: none;
}
.Related-Date {
  font-size: small;
}
.Name-Relase {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.Vote-Average {
  padding-top: 5px;
  padding-right: 15px;
  font-size: 12px;
  justify-content: flex-end;
  align-items: flex-end;
  justify-self: end;
  align-items: flex-end;
  display: flex;
  border-radius: 50%;
  white-space: nowrap;
}
