.category-css {
  height: 40px;
  width: 50%;
  margin-left: 30%;
  border-radius: 8px;
  margin-top: 5px;
  background-color: rgb(48, 30, 103);
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow {
  margin-left: 4px;
  color: rgb(36, 112, 179);
}
.category-name {
  margin-left: 4px;
  background-color: rgb(36, 112, 179);
  width: 100px;
}
