.Login-Background {
  /* background-image: url("../../Layouts/Images/1512217.jpg"); */
  background-image: url("https://cdn.wallpapersafari.com/51/11/pAFte5.jpg");
  background-size: cover;
  position: fixed;
  filter: brightness(80%);
  width: 100vw;
  height: 100vh;
}
.Login-Form {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Form {
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: fixed;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  color: aliceblue;
  width: 40vw;
  height: 70vh;
}
.Login-Icon {
  font-size: xxx-large;
}
.Login-Inputs {
  display: flex;
  flex-direction: column;
}
.labels {
  font-size: x-large;
}
.Login-Input {
  width: 50vh;
  background: gray;
  color: aliceblue;
}
.Forms {
  display: flex;
  flex-direction: column;
}
.Log-In {
  margin-top: 24px;
  padding-bottom: 15px;
  height: 3vw;
  font-size: large;
  color: white;
  background-color: #c20505;
  border-radius: 8px;
  margin-left: 30%;
  width: 10vw;
}
.Register {
  font-family: "Aref Ruqaa Ink", serif;
  font-size: x-large;
}
